<div class="reset-wrap">
    <h2 style="margin: 0;">Reset Password</h2>
    <form (ngSubmit)="onSend()">
      <input id="password" [(ngModel)]="resetPasswordData.password" name="password" type="password" aria-label="Password" placeholder="Enter your password" required />
      <input id="confirmPassword" [(ngModel)]="resetPasswordData.confirmPassword" name="confirmPassword" type="password" aria-label="Confirm Password" placeholder="Confirm your password" required />
      <button class="welcome-page-button" type="submit">Reset Password</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  </div>
  