<div class="dashboard-wrap">
    <div class="navbar">
        <div class="navbar-wrap">
            <button class="navbutton">TOKENS</button>
            <button class="navbutton">POOLS</button>
            <div class="logo">L</div>
            <button class="navbutton">LOGOUT</button>
            <button class="navbutton">NOTIFICATIONS</button>
        </div>
    </div>
    <div class="dashboard-background">
        <div class="circle top-left"></div>
        <div class="circle top-right"></div>
        <div class="circle bottom-left"></div>
        <div class="circle bottom-right"></div>

        <div class="dashboard-content">

            <div class="main-content"></div>
        </div>
    </div>
</div>