<div class="dashboard-wrap">
    <div class="navbar">
        <div class="navbar-wrap">
            <button class="navbutton" (click)="navigateTo('tokens')">TOKENS</button>
            <button class="navbutton" (click)="navigateTo('pools')">POOLS</button>
            <div class="logo">
                <img src="assets/CryptoOrganizerLogo.png" alt="Crypto Organizer Logo" />
            </div>
            <button class="navbutton">NOTIFICATIONS</button>
            <button class="navbutton" (click)="logout()">LOGOUT</button>
        </div>
    </div>
    <div class="dashboard-background">
        <div class="circle top-left"></div>
        <div class="circle top-right"></div>
        <div class="circle bottom-left"></div>
        <div class="circle bottom-right"></div>

        <div class="dashboard-content">
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>